<h3>Add a new symptom:</h3>
<form>
  <label>Symptom type:</label>
  <input type="text" id="name">
  <label>Severity:</label>
  <input type="number" id="severity">
  <label>Start time:</label>
  <input type="time" id="start_time">
  <label>End time:</label>
  <input type="time" id="end_name">
  <label>Notes:</label>
  <input type="text" id="notes">
  <button id="submit-symptom">Add symptom</button>
</form>
