<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Don't forget to record what you ate today!!</h1>
    <p>
      <%= @user.name %>, you haven't entered any information for today.<br>
    </p>
    <p>
      To login to the site and add some information, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
