<h1>Profile</h1>
<p>
  Welcome, <%= @user.name %>!
</p>
<% if @user.image? %>
<img src="<%= @user.image %>" />
<% end %>
<%= link_to "Edit Profile", users_path(@current_user), method: :get, class: "btn" %>
