<div id="container" style="width:100%; height:400px;"></div>
<div id="day-data">
  <div class="entry" id="1">
    Breakfast
    <br />
    2016-03-03 05:00:00
    <br />
    These are my notes
    <br />
    <div class="meal">
      Turkey Tacos
    </div>
  </div>
</div>
