<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table">
        <thead>
          <tr>
            <th class="table-header" colspan="3">
              Your Meals
            </th>
          </tr>
        </thead>
        <% @meals.each do |m| %>
        <tr>
          <td>
            <%= m.name %>
          </td>
          <td class="food-ing-list">
            <% if !m.foods.empty? %>
              <%= m.foods[0].name %>...
            <% end %>
            <% if m.foods.empty? && !m.ingredients.empty? %>
              <%= m.ingredients[0].name %>...
            <% end %>
          </td>
          <td>
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
