<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <% @meals.each do |m| %>
        <h3><%= m.name.upcase %></h3>
        <br />
        <% if !m.foods.empty? %>
        <h4>Foods:</h4>
        <ul>
          <% m.foods.each do |f| %>
          <li>
            <%= f.name %>
          </li>
          <% end %>
        </ul>
        <% end %>
        <% if !m.ingredients.empty? %>
        <h4>Ingredients:</h4>
        <ul>
          <% m.ingredients.each do |i| %>
          <li>
            <%= i.name %>
          </li>
          <% end %>
        </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
