<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table">
        <thead>
          <tr>
            <th class="table-header" colspan="3">
              Your Meals
            </th>
          </tr>
        </thead>
        <% @meals.each do |m| %>
        <tr>
          <td>
            <%= link_to "#{m.name.upcase}", edit_meal_path(m), class: "meal-name" %>
          </td>
          <td class="food-ing-list hidden-xs">
            <% if !m.foods.empty? %>
              <%= m.foods[0].name %>...
            <% end %>
            <% if m.foods.empty? && !m.ingredients.empty? %>
              <%= m.ingredients[0].name %>...
            <% end %>
          </td>
          <td>
            <%= button_to meal_path(m), method: :delete, class: "close" do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
