<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <br />
    <h2 class="text-center">Add a new meal:</h2>
    <br />
    <h4>In this meal:</h4>
    <div id="print-new-meal">
      <!-- JS will fill this in -->
    </div>
    <form id="meal-entry-form">
      <div class="form-group">
        <label>Category:</label>
        <select id="category-select" class="form-control">
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Snack">Snack</option>
        </select>
        <input type="hidden" id="user-id" value="<%= @user_id %>"></input>
      </div>
      <div class="form-group form-inline">
        <label>Add existing foods or ingredients:</label>
        <div class="hidden-xs inline-form-padding"></div>
        <select id="food-type-select" class="form-control">
          <option value="Ingredients" selected="selected">Ingredients</option>
          <option value="Foods" selected="selected">Foods</option>
        </select>
        <div class="hidden-xs inline-form-padding"></div>
        <select id="dynamic-food-list" class="form-control">
          <% @all_foods.each do |f| %>
            <option value="<%= f.name %>" selected="selected" id="<%= f.id %>"><%= f.name %></option>
          <% end %>
        </select>
        <div class="hidden-xs inline-form-padding"></div>
        <button id="add-from-db" class="btn btn-primary">Add to meal</button>
      </div>
    </form>
    <div id="autocomplete-wrapper" class="form-group form-inline">
      <label for="autocomplete">Search for foods by name: </label>
      <div class="hidden-xs inline-form-padding"></div>
      <input id="autocomplete" class="form-control">
      <input type="hidden" id="factual-id">
      <div class="hidden-xs inline-form-padding"></div>
      <button id="add-from-search" class="btn btn-primary">Add to meal</button>
    </div>
    <button id="create-food-entry" class="btn btn-success centered-button">Save meal</button>
  </div>
</div>
