/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
  *= require jquery-ui/autocomplete
  *= require jquery-ui/menu
  */
  @import "bootstrap-sprockets";
  @import "bootstrap";

  .container {
    height: 100%;
    width: 100%;
  }

  .navbar {
    border: none;
    border-radius: 0;
    background-color: #000000;
    font-family: 'Arimo', sans-serif;
  }

  #navbar-brand {
    color: #ffffff;
  }

  #navbar-about {
    color: #ffffff;
  }

  #navbar-login {
    color: #ffffff;
  }

  #navbar-today {
    color: #ffffff;
  }

  #navbar-profile {
    color: #ffffff;
  }

  #navbar-symptoms {
    color: #ffffff;
  }

  .navbar-brand {
    font-weight: 700;
  }

  .ui-autocomplete-loading {
    background: white url("loading-circle.gif") right center no-repeat;
  }

  #day-heading h1 {
    text-align: center;
  }

  .login-bg {
    height: 100%;
    width: 100%;
  }

  #html-bg {
    height: 100%;
    width: 100%;
    background:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(200, 197, 197, 0.1)
    ),
    image-url('cherries-big.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  #login-h1 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
  }

  .login-modal {
    background-color: #000000;
    opacity: .9;
    margin-top: 10%;
    position: relative;
  }

  .login-button {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    border-radius: 0;
    margin-bottom: 20px;
    color: #000000;
    border: none;
    text-align: center;
  }

  .centered-text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .day-show-header {
    text-align: center;
  }
